.looter {
  $radius: 4px;

  &__bordered-input {
    background-color: $white;
    border: $main-color 1px solid;
    border-radius: $radius;
    margin-bottom: $base / 2;
    padding: $base * 0.75;
  }

  &__placeholder {
    color: $main-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    color: $black;

    &:empty:before {
      content: attr(placeholder);
      display: block;
      color: rgba($black, 0.5);
    }
  }

  &__submit {
    align-self: flex-end;
    border: $white solid 2px;
    border-radius: $radius;
    color: $white;
    cursor: pointer;
    padding: $base / 2 $base;
    opacity: 1;

    &:not([disabled]) {

      &:hover,
      &:focus {
        background-color: $white;
        color: $main-color;
      }
    }

    &[disabled] {
      cursor: default;
      opacity: 0.5;
    }
  }
}
