.looter {

  &__box {
    border: $main-color 1px solid;
    border-radius: $base * 0.25;
  }

  &__placeholder {
    padding: $base / 2;
    color: $main-color;
  }

  &__input {
    color: $black;
    min-height: 3em;
    padding: $base / 2;

    &:empty:before {
      content: attr(placeholder);
      display: block;
      color: rgba($black, 0.5);
    }
  }
}
