.post {
  $root: &;
  background: $white;
  padding: $base * 2 $base * 2 $base;
  margin-bottom: $base;

  &__content {
    font-size: $font-size-content;
    margin-bottom: $base / 2;
  }

  &__controls {
    opacity: 0;
    text-align: right;
  }

  &__control {
    cursor: pointer;
    opacity: 0.5;
    font-size: $font-size-small;
    margin-left: $base;

    &:hover {
      opacity: 1;
    }
  }

  &--show-actions {

    #{$root}__controls {
      opacity: 1;
    }
  }
}
