.post {
  $root: &;
  box-shadow: rgba($black, 0.5) 0 1px 2px 0;
  margin-bottom: $base;

  &__container {
    background: $white;
    padding: $base/2;
    overflow: auto;

    @include media(min-width, m) {
      padding: $base;
    }
  }

  &__content {
    font-size: $font-size-base;
    margin-top: $base*1.5;
    padding-left: $base/2;
    padding-right: $base/2;

    @include media(min-width, m) {
      padding-left: $base;
      padding-right: $base;
      font-size: $font-size-content;
    }

    &--editable {
      background: rgba($main-color, 0.1);
    }
  }

  &__image {
    display: block;
    width: 100%;
    padding: $base/2 $base/2 0;
    box-sizing: border-box;

    @include media(min-width, m) {
      padding: $base $base 0;
    }
  }

  &__footer {
    margin-top: $base;
  }

  &--show-actions {

    #{$root}__controls {
      opacity: 1;
    }
  }
}
