$font-size-base: 1rem;

$font-sizes: (
  p: $font-size-base
);

@function font-size($style: p) {
  @return map-get($font-sizes, $style);
}

@mixin font-size($style: p) {
  font-size: font-size($style);
}
